{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Users list</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 text-right">
                <a class="btn btn-primary" href="{{ path('user_new') }}">Create a new user</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-striped table-inverse">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td class="text-center">
                                <a class="btn btn-outline-primary" href="{{ path('user_show', { 'id': user.id }) }}">Show</a>
                                <a class="btn btn-outline-success" href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
