{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>User</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 text-right">
                <a class="btn btn-primary" href="{{ path('user_index') }}">Back to the list</a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title">ID : {{ user.id }}</h4>
                        <p class="card-text">
                            Nom : {{ user.lastname }}<br>
                            Prénom : {{ user.firstname }}
                        </p>
                        <a class="btn btn-danger" href="{{ path('user_delete', { 'id': user.id }) }}">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
